#da{
	width: 357px;
	height: 357px;
	/*border: 1px solid black;*/
	background: #96F;
	margin: 0 auto 20px auto;
	padding-top:30px;
	opacity:0.7;
	border-radius: 20px;
	box-shadow:0 0 35px #96F;
	/*position: relative;*/
}
#kuang{
	width: 320px;
	height: 320px;
	/*border: 1px solid white;*/
	margin:0 auto;
	padding-top:5px;
	background:white;
	
}

#xiao{
	width: 300px;
	height: 300px;
	border: 1px solid white;
	margin: 10px auto;
	
	/*position: absolute;*/
	/*z-index: 180;*/
	
}
.item{
	width: 50px;
	height: 50px;
	border: 1px solid red;
	float: left;
	margin-left: -1px;
	margin: 4px;
	color:red;
	opacity:0.4;
	background: red;
	text-align:center;
	line-height:50px;
	box-shadow:0 0 20px black;
	cursor:pointer;
	
	
	
	/*position: absolute;*/
/*	z-index: 200;*/
}